services:
  # --- Services ---
  # notification-service:
  #   build: ./services/notification
  #   volumes:
  #     - ./services/notification/src:/app/src
  #     - /app/node_modules
  #   restart: always
  #   ports:
  #     - "3000:3000"
  #   depends_on:
  #     - notifications-db
  #   # command: sh -c "npx prisma db push"

  # --- REDIS ---

  redis:
    image: redis:alpine3.22
    container_name: redis
    restart: always
    command: ["redis-server", "--loglevel", "warning", "--requirepass", "redis"]
    ports:
      - "6379:6379"

  # --- MYSQL (Single instance for all services) ---
  mysql:
    image: mysql:8.0
    container_name: mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: root
      # Pre-create all databases
     # MYSQL_DATABASE: keycloak_db,vehicle_db,factor_db,customers_db,notifications_db
    #  MYSQL_USER: admin
     # MYSQL_PASSWORD: admin
    volumes:
      - mysql_data:/var/lib/mysql
      - ./mysql-init:/docker-entrypoint-initdb.d
    ports:
      - "3306:3306"
  

  # --- KEYCLOAK ---
  keycloak:
    image: quay.io/keycloak/keycloak:26.4
    container_name: keycloak
    restart: always
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://mysql:3306/keycloak_db?allowPublicKeyRetrieval=true&useSSL=false
      KC_DB_USERNAME: root
      KC_DB_PASSWORD: root
      KC_HOSTNAME: localhost
      KC_HOSTNAME_PORT: 8080
      KC_HOSTNAME_STRICT: false
      KC_HOSTNAME_STRICT_HTTPS: false
      KC_HTTP_ENABLED: true
    command: start-dev
    depends_on:
      - mysql
    ports:
      - "8080:8080"

  # --- RABBITMQ ---
  rabbitmq:
    image: rabbitmq:4.0-management-alpine
    container_name: rabbitmq
    hostname: rabbitmq-host
    restart: always
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "15672:15672"
      - "5672:5672"

  # --- PHPMYADMIN ---
  phpmyadmin:
    image: phpmyadmin/phpmyadmin:5.2.3
    container_name: phpmyadmin
    restart: always
    environment:
       PMA_HOST: mysql
       PMA_USER: root
       PMA_PASSWORD: root
    ports:
      - "8082:80"
    depends_on:
      - mysql

volumes:
  mysql_data:
    driver: local
  rabbitmq_data:
    driver: local
